:root {
  --my-black: #1c1c24;
  --my-white: #ffffff;
  --my-text-muted: #949494;
  --my-link-color: #feb301;
  --my-link-color-hover: #fec94d;
  --my-transition: all .25s ease-in-out;
  --my-warning-bg: #feb301;
  --my-warning-bg-hover: #fec94d;
  --my-warning-bg-active: #e4b445;
  --my-warning-bg-text: #1c1c24;
  --hex-side: 25px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Montserrat', Arial, sans-serif;
  color: var(--my-black);

  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--my-link-color);
  transition: var(--my-transition);
}

a:hover {
  color: var(--my-link-color-hover);
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 15px 30px;
  font-weight: 700;
}

.btn-sm {
  padding: 7px 14px;
}

.btn-warning {
  --bs-btn-color: var(--my-warning-bg-text);
  --bs-btn-bg: var(--my-warning-bg);
  --bs-btn-border-color: var(--my-warning-bg);
  --bs-btn-hover-color: var(--my-warning-bg-text);
  --bs-btn-hover-bg: var(--my-warning-bg-hover);
  --bs-btn-hover-border-color: var(--my-warning-bg-hover);
  --bs-btn-active-color: var(--my-warning-bg-text);
  --bs-btn-active-bg: var(--my-warning-bg-active);
  --bs-btn-active-border-color: var(--my-warning-bg-active);
  --bs-btn-disabled-color: var(--my-warning-bg-text);
  --bs-btn-disabled-bg: var(--my-warning-bg);
  --bs-btn-disabled-border-color: var(--my-warning-bg);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 20px;
  margin-bottom: 40px;

  font-weight: 700;
  line-height: 1.2;
  color: #1c1c24;
  letter-spacing: 0.025em;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.625rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.375rem;
}

.logo {
  display: flex;

  &__img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  &__name {
    color: var(--my-black);
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  &__description {
    color: var(--my-text-muted);
    font-size: 0.85rem;
  }
}

.messengers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    margin-right: 20px;
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25rem;
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: var(--my-warning-bg);
    position: relative;
    color: var(--my-warning-bg-text);
    margin: calc(var(--hex-side) /2) 0;
  }

  &__link::before,
  &__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--my-warning-bg);
    top: 0;
    left: 0;
    transition: var(--my-transition);
  }

  &__link::before {
    transform: rotate(60deg);
  }

  &__link::after {
    transform: rotate(-60deg);
  }

  &__link:hover,
  &__link:hover::before,
  &__link:hover::after {
    background: var(--my-warning-bg-hover);
    color: var(--my-warning-bg-text);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.main-footer {
  &__content {
    background: #1c1e22;
    color: var(--my-white);
    padding: 50px 0;


  }

  &__copyright {
    background: #101010;
    color: var(--my-white);
    padding: 15px 0;
    font-size: 0.85rem;
  }
}

.footer-contacts {
  &__logo {
    margin-bottom: 30px;
  }

  &__logo .logo__name {
    color: var(--my-white);
  }

  &__phone-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 10px;
  }

  &__callback-btn {
    margin-top: 20px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 10px;
  }

  &__icon {
    margin-right: 7px;
    font-size: 1rem;
  }

  &__messengers {
    margin: 30px 0;
  }

  &__item_email {
    font-weight: 700;
  }

  @media (max-width: 991.98px) {
      margin-bottom: 50px;
      text-align: center;

      &__item,
      &__messengers,
      &__logo {
        justify-content: center;
      }
  }
}

.footer-copyright {
  text-align: center;

  &__links {
    margin-top: 10px;
  }

  &__link {
    margin: 0 10px;
  }

  &__link:last-of-type {
    margin-right: 0;
  }

  @media (max-width: 767.98px) {
    &__links {
      display: flex;
      flex-direction: column;
    }
    &__link:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}