.product-detail {
  &__carousel {
    margin-bottom: 50px !important;
  }

  &__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    background: var(--warning);
    padding: 20px;
  }

  &__price {
    color: var(--dark);
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__price-title {
    font-size: 1rem;
    font-weight: 400;
    color: #5e5e5e;
    margin-right: 15px;
  }

  &__characteristics {
    margin-bottom: 50px !important;
  }

  &__text {
    margin-bottom: 50px;
  }

  .product-carousel {
    border: 1px solid var(--border-color);

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__control-prev,
    &__control-next {
      width: 10%;
      font-size: 2rem;
      color: var(--light);

      @media (max-width: 767.98px) {
        & {
          font-size: 1.5rem;
        }
      }
    }

    &__control-prev {
      background: linear-gradient(90deg, rgba(28, 30, 34, 0.5), rgba(255, 255, 255, 0));
    }

    &__control-next {
      background: linear-gradient(-90deg, rgba(28, 30, 34, 0.5), rgba(255, 255, 255, 0));
    }

    img {
      width: 100%;
    }
  }
  
  @media (max-width: 991.98px) {
    &__price-wrapper {
      flex-direction: column;
    }

    &__price {
      margin-bottom: 20px;
    }
  }
}