.product-list {
  &__col {
    display: flex;
    align-items: stretch;
  }
}

.element-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-small);

  &__item {
    margin-bottom: 10px;
  }

  &__icon {
    margin-right: 5px;
    font-size: 1rem;
  }

  &__link {
    color: var(--dark);

    &:hover {
      color: var(--warning);
    }
  }
}

.category-item {
  border: 1px solid var(--border-color);
  margin-bottom: calc((var(--bs-gutter-x) * .5) * 2);
  display: flex;
  flex-direction: column;

  &__img-link {
    position: relative;
    display: block;
    overflow: hidden;

    &:hover img {
      transform: scale(1.0125);
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.25rem;
    margin: 0 0 30px 0;
  }

  &__link {
    color: var(--dark);

    &:hover {
      color: var(--dark-hover);
    }
  }

  &__element-list {
    margin-bottom: 30px;
  }

  &__price {
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__price-title {
    font-weight: 400;
    font-size: var(--font-size-small);
    color: var(--text-muted);
    margin-right: 10px;
  }

  &__btn-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__btn {
    width: 100%;
  }

  &__btn-icon {
    margin-left: 5px;
  }
}