.photos-list {
  &__row {

  }

  &__col {

  }

  &__item {
    margin-bottom: calc((var(--bs-gutter-x) * .5) * 2);
  }

  &__link {
    position: relative;
    display: block;
    overflow: hidden;

    &:hover img {
      transform: scale(1.0125);
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__figcaption {
    margin-top: 5px;
    color: var(--text-muted);
    font-size: var(--font-size-small);
    font-style: italic;
    text-align: center;
  }
}